.portfolio-item {
	transform-style: preserve-3d;
	transition: transform 0.4s;
}
.portfolio-item div {
	backface-visibility: hidden;
}
.front {
	positon: absolute;
	z-index: 2;
}
.back {
	position: relative;
	top: -200px;
	z-index: 1;
	transform: rotateY(-180deg);
}
.portfolio-item:hover {
	transform: rotateY(180deg);
}