.portfolio-item {
	transform-style: preserve-3d;
	transition: transform 0.4s;
	position: relative;
}
.portfolio-item div {
	backface-visibility: hidden;
	box-shadow: 4px 4px 4px #444444;
}
.front {
	position: absolute;
	top: 0;
	left: 0;
}
.back {
	transform: rotateY(-180deg);
}
.portfolio-item:hover {
	transform: rotateY(180deg);
}